

<div id= "banner" >
  <div class= "overlay">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class= "content text-center">
            <h1> Des plats cuisinés maison préparés avec amour par des chefs de votre quartier </h1>
            <h2>Bientôt disponible à Lille</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id= "home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class= "title text-center">
          <h3>Commandez un plat cuisiné par un chef de votre quartier</h3>
        </div>
        <div class="description text-center">
          <p>
            Pepeat est une toute nouvelle place de marché valorisant le partage de plats faits maison. Nous nous associons avec les meilleurs cuisiniers de votre quartier pour vous proposer des plats de qualités pour un prix abordable.
          </p>
          <p>
            Tous les plats sont élaborés à la maison du chef et il vous suffit d'aller les récupérer chez lui, à l'heure prévue.
            Profitez de ce moment culinaire pour discuter avec le chef et apprenez à mieux connaître votre voisinage.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div id= "avantages">
  <div class="container">
    <div class="row">
      <h3 class= "text-center title-avantage">3 avantages à faire parti de la communauté Pepeat</h3>
      <div class= "forme">
        <div class="col-xs-12 col-sm-4">
          <div class="three-element">
            <div class= "avtg-circle">
              <span class= "element">1</span>
            </div>
            <h4 class= "text-center">Le prix</h4>
            <p class= "text-center text-description">Les plats proposés par nos chefs sont en moyenne 40% moins cher qu'en restaurant. En plus d'une expérience culinaire inoubliable vous faites des économies.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="three-element">
            <div class= "avtg-circle">
              <span class= "element">2</span>
            </div>
            <h4 class= "text-center">Une expérience sociale</h4>
            <p class= "text-center text-description">Profitez de votre passage à la maison du chef pour discuter et faire connaissance avec votre quartier. Il n'a jamais été aussi sympa d'aller chercher un plat à emporté.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="three-element">
            <div class= "avtg-circle">
              <span class= "element">3</span>
            </div>
            <h4 class= "text-center">Des plats de qualité</h4>
            <p class= "text-center text-description">Nos cuisiniers sont des passionnés et ont été selectioné pour leurs talents culinaires. Profitez de plats faits maison toujours plus créatifs à partir de produits frais.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id= "cuistot">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Vous voulez faire partie des chefs Pepeat ?</h3>
        <p class= 'text-cuistot'>Nous recherchons des chefs sur Lille. Que vous soyez professionnel ou amateur cela n'a pas d'importance tant que vous êtes passionné et que vous savez cuisiner. N'hésitez pas à poser votre candidature pour faire parti de l'aventure. </p>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
        <%= link_to 'Cliquez ici pour postuler en tant que chef chez Pepeat', 'https://floangles.wufoo.com/forms/gagnez-de-largent-en-cuisinant-avec-pepeat/', target: "_blank" %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <div class="card-logo text-center">
            <%= image_tag 'euros.png' %>
          </div>
          <div class="card-text text-center">
            <p>Gagnez de 20€ à 200€/soirée</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id= "support">
</div>
